body{
    color: lightslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightseagreen;
    color: rgb(21, 69, 172);

}

h1{
/* text-decoration: underline wavy; */
font-size: 40px;
font-weight: bold;
}

h4{
    font-size: 15px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: darkgreen;
}

.common{
    background-color: rgb(223, 220, 220);
    border: 1px solid;
    border-color: blue;
    position: absolute;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}

.margin{
    margin: 15px;
}

.headertop{
top: 5px;
left: 5px;
right: 5px;
height: 80px;
}

.headerbottom{
top: 94px;
left: 5px;
right: 5px;
height: 45px;
}

.leftbody{
left: 5px;
top: 146px;
bottom: 39px;
width: 300px;
}

.mainbody{
top: 146px;
bottom: 39px;
left: 314px;
right: 214px;
}

.rightbody{
top: 146px;
bottom: 39px;
right: 5px;
width: 200px;
}

.footer{
bottom: 5px;
left: 5px;
right: 5px;
height: 25px;
position: fixed;
}
